body{
    background-color: rgb(79, 79, 79);
    font-family: 'Courier New', Courier, monospace, sans-serif; 
}

div{
    margin: 13px;
    padding: 13px;
    text-align: center;
}

.container{
    max-width: 900px;
    margin:auto;
    padding: 0;
    
}
.topo{
    background-color: #ffffff;
    text-align: center;
    border-radius: 340px;  
    padding: 4px;
}

.menu{
    background-color: #595c55;
    border-radius: 320px;
    box-shadow: 0px 10px 20px black;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.principal{
    background-color: #595c55;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(255, 255, 255);
}


.rodape{
    background-color: #595c55;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(255, 255, 255);
    padding: 0;
    text-align: center;
    
}